body {
    background: #f8e8a6;
}

h1,
p {
    text-align: center;
}

.photo {
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: green;
}